body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin:0;
  padding: 0
}
.dropdownList{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
.dropdownWrp,.selectedData{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.dropdownList select, .card select,.section select{
  display: block
}
.mt-30{margin-top: 30px;}
.code-container{
  width: 100%;
  height: 100vh;
  overflow: scroll;
  box-shadow: 0 5px 5px 5px rgba(0,0,0,0.5);
  padding: 50px 20px 20px ;
  position: relative;
}
.copy-code{
  position: absolute;
  top:10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
.si-title{
  color: 'red'
}

@keyframes popup_open{
  from{
    bottom: -100px
  }
  to{
    bottom: 0px
  }   
}
@keyframes popup_close{
  from{
    bottom: 0px
  }    
  to{
    bottom: -100px
  }
}
#popup{
  width: 100%;
  padding: 10px;
  z-index: 20;
  background: #fff;
  border-top: 1px solid #444;
  position: fixed;
  bottom: -100%;
  left: 0px;
  text-align: center;
}
.popup-open{
  animation: popup_open cubic-bezier(0.23, 1, 0.32, 1) 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
.popup-close{
  animation: popup_close cubic-bezier(0.23, 1, 0.32, 1) 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}